<header class="header">
    <a href="/">
        {{> logo}}
    </a>

    <nav class="header_nav">
        <div class="header_nav_right">
            {{> nav list=header}}
        </div>
    </nav>
</header>

<main class="hero">
    {{#with info}}
    <div class="info">
        <h1 class="info_title">{{title}}</h1>
        <p class="info_description">{{description}}</p>
    </div>
    {{/with}}

    {{#with form}}
    <form class="form">
        <div class="form_inputs">
            {{#each inputs}}
            <input type="{{type}}" class="form_input" id="input_id-{{id}}" placeholder="{{placeholder}}"
                name="{{name}}">
            {{/each}}
        </div>

        <div class="form_checkbox">
            {{#with checkbox}}
            <input type="checkbox" name="{{name}}" id="{{name}}">
            <div></div>
            <label for="{{name}}">{{label}}</label>
            {{/with}}
        </div>

        <button type="submit" class="form_button">{{button}}</button>

        <div class="form_line"></div>

        <p class="form_info">{{info}}</p>

        {{/with}}
    </form>
</main>

{{#with updates}}
<section class="updates">
    <h4 class="updates_title">{{title}}</h4>
    <div class="updates_list">
        {{#each list}}
        <div class="updates_list_item">
            <div class="user_pic">
                {{!-- <img src="#" alt="img-{{nickname}}"> --}}
            </div>
            <div class="news">
                <strong class="news_nickname">{{nickname}}</strong>
                <p class="news_text">{{description}}</p>
            </div>
        </div>
        {{/each}}
    </div>

    {{#with show_all}}
    <a href="{{url}}" class="all_updates">{{text}}</a>
    {{/with}}

</section>
{{/with}}

{{#with expirience}}
<div class="expirience">
    <h2 class="expirience_title">{{title}}</h2>
    <div class="expirience_badge">{{badge}}</div>
    <div class="expirience_list">
        {{#each list}}
        <div class="exp_card">
            <strong class="exp_card_title">{{name}}</strong>
            <p class="exp_card_details">{{details}}</p>
        </div>
        {{/each}}
    </div>
</div>
{{/with}}

<footer class="footer">
    <div>
        {{> logo}}

        <span class="footer_copyright">Copyright 2024</span>
    </div>

    {{#each footer}}
    <div>
        <span class="footer_title">{{title}}</span>

        <span class="footer_links">{{> nav list=links isVertical=true}}</span>
    </div>
    {{/each}}
</footer>