<div id="{{id}}" class="articleCard">
    <img class="imgCard" src="{{photo}}" alt="{{name}}">
    {{#if isNew}}
    <div class="cardBadge">new</div>
    {{/if}}
    <div class="cardTitle">{{name}}</div>
    <div class="cardDescription">{{description}}</div>
    <a href="#" class="cardButton">Read All</a>
</div>